#home {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 8vh;

    border-bottom: 0.3vh solid #92ba1f;
}

#main-container {
    height: 91.7vh;

    display: flex;
}

aside {
    border-right: 0.1vw inset #dadce0;
    width: 35vh;
}

main {
    flex: 9;
}