main {
    background-color: #f0f0f0;
    overflow: auto;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr,
.day-title {
    height: 7vh;
}

.cell {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.time-cell {
    width: 6vw;
    text-align: right;
    color: rgba(1, 1, 1, 0.25);
    font-size: 1.9vh;
    padding-right: 1vw;
}

#groups-title {
    position: sticky;
    top: 0;

    z-index: 10;
}

#groups-title .cell {
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: -0.1vh;

    border: 0.1vh solid rgba(1,1,1,0.1);
    border-top: 0;

    background-color: rgba(255, 255, 255, 0.9);
}

.day {
    width: 100%;
}

.day .day-title {
    padding-left: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 3vh;
    font-weight: 600;
    letter-spacing: -0.1vh;
    color: rgba(1,1,1,0.4);
}

.day-title .day-name {
    flex-grow: 1;
}

.day-title .day-title-separator {
    flex-grow: 13;
    height: 0.48vh;
    background-color: rgba(1, 1, 1, 0.1);
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}

.day-schedule {
    table-layout: fixed;
    width: 100%;
}

.day-schedule .row:last-child .cell:nth-child(2) {
    border-bottom-left-radius: 1.2vh;
}

.day-schedule .cell {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.day-schedule .cell:not(:last-child) {
    border-right: 0.1vw solid rgba(1,1,1,0.1);
}

.day-schedule .row:not(:last-child) .cell:not(:first-child) {
    border-bottom: 0.1vw solid rgba(1,1,1,0.1);
}