main {
    background-color: #f0f0f0;
    overflow: auto;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 7vh;
}

.cell {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.time-cell {
    width: 6vw;
}

#groups-title {
    position: sticky;
    top: 0;

    z-index: 10;
}

#groups-title .cell {
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: -0.1vh;

    border: 0.1vh solid #e2e3e6;
    border-top: 0;

    background-color: rgba(255, 255, 255, 0.9);
}

.day {
    width: 100%;
}

.day .day-title {
    position: relative;
    padding-left: 1.2vw;
    overflow: hidden;

    font-size: 3vh;
    font-weight: 600;
    letter-spacing: -0.1vh;
    color: rgba(1,1,1,0.4);
}

.day .day-title-separator {
    width: 100%;
    height: 0.48vh;
    background-color: rgba(1, 1, 1, 0.1);
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    position: absolute;
    left: 17vh;
    top: 46%;
}

main .day:first-child {
    margin-top: -7vh;
}

.day .row:last-child .cell:nth-child(2) {
    border-bottom-left-radius: 1.2vh;
}

.day .cell {
    background-color: rgba(255, 255, 255, 0.5);
}