aside {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

aside > * {
    width: 35vh;
}

::-webkit-scrollbar {
    width: 0.8vh;
}

::-webkit-scrollbar-track {
    background: rgba(1,1,1,0.1);
    border-radius: 0.1vh;
}

::-webkit-scrollbar-thumb {
    background: rgba(1,1,1,0.15);
}

.item {
    box-sizing: initial;
}

.label {
    color: rgba(1,1,1,0.7);
    font-weight: 600;
    font-size: 2.5vh;
    font-family: "Elektra", sans-serif;
    padding: 2.2vh 2.2vh 0;
    margin-bottom: 1vh;
}

.label2 {
    user-select: none;
    margin-bottom: 0.8vh;
    color: rgba(1,1,1,0.55);
    font-size: 2vh;
    font-weight: 600;
    font-family: "Elektra", sans-serif;
}


.weekDays-selector {
    user-select: none;
    padding: 0 2.2vh 0;
    display: flex;
    justify-content: space-between;
}

.weekDays-selector input {
    display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
    font-size: 2vh;
    font-family: "Elektra", sans-serif;
    font-weight: 100;
    border: 0.08vh solid #d3d3d3;
    color: #d3d3d3;
    display: inline-block;
    border-radius: 0.3vh;
    background-color: rgba(255,255,255,0.7);
    height: 3vh;
    width: 3vh;
    line-height: 3vh;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
    background: #92b825;
    color: #ffffff;
    border: 0.08vh solid #92b825;
    -webkit-animation: tick 0.08s ease-in-out;
    animation: tick 0.08s ease-in-out;
}

@-webkit-keyframes tick {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes tick {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.list {
    padding: 0.1vh 2.2vh 1vh;
}

.dropdown {
    display:flex;
    flex-direction: column;

    margin: 0;
    line-height: 2.7vh;
    height: 100%;
    max-height: 2.6vh;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.dropdown.active {
    max-height: 100vh;
}

.room-container {
    display: flex;
    flex-wrap: wrap;
}

.room-container div {
    cursor: pointer;
    user-select: none;
    text-align: center;
    line-height: 3vh;
    color: #9C9C9C;
    font-family: "Elektra", sans-serif;
    font-weight: 100;
    font-size: 2vh;
    padding: 0 0.6vh;
    transition: background 0.1s ease;
    border-radius: 4vh;
    margin-right: 2vh;
}
.room-container div:hover {
    color: #6c6c6c;
    background-color: rgba(1,1,1,0.065);
}

.activeRoom {
    background-color: rgba(1,1,1,0.065);
    color: #6c6c6c;
    border-radius: 0.5vw;
}

.label-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.triangle {
    color: #6c6c6c;
    border-right: 0.2vh solid;
    border-bottom: 0.2vh solid;
    margin: 0.8vh 1vh 0;
    height: 1vh;
    width: 1vh;
    transform: rotate(-315deg);
    transition: transform 0.2s ease;
}
.triangle.active {
    transform: rotate(-136deg);
}


@keyframes click-wave {
    0% {
        height: 3vh;
        width: 3vh;
        opacity: 0.35;
    }
    100% {
        height: 3vh;
        width: 3vh;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    height: 3vh;
    width: 3vh;
    border-radius: 0.1vh;
    transition: background 0.2s ease-out 0s;
    background: rgba(1,1,1,0.2);
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0.1vh 1vh 0.7vh 0;
    outline: none;
    border-radius: 0.3vh;
}

.group-label {
    margin: 0.1vh 0 0;
    font-size: 2vh;
}

.option-input:hover {
    background: rgba(1,1,1,0.3);
}

.option-input:checked {
    background: #2172CD;
}

.option-input:checked::before {
    position: absolute;
    display: inline-block;
    height: 3vh;
    width: 3vh;
    content: '✔';
    text-align: center;
    font-size: 2vh;
    line-height: 3vh;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #2172CD;
    content: '';
}

.toolbar-enter-active,
.toolbar-leave-active {
    transition: width 0.3s ease;
}

.toolbar-enter,
.toolbar-leave-to {
    width: 0;
}