aside {
    display: flex;
    flex-direction: column;
}
.item {
    height: 2vw;
}
.label {
    /*color: #6c6c6c;*/
    font-size: 1.35vw;
    font-family: "Elektra", sans-serif;
    padding: 1.75vw 1.75vw 0;
}

.labelv2 {
    color: #666666;
    font-size: 1.1vw;
    font-family: "Elektra", sans-serif;
}

.weekDays-selector {
    padding: 0 1.75vw 0;
    display: flex;
    justify-content: space-between;
}
.weekDays-selector input {
    display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
    font-size: 1vw;
    font-family: "Elektra", sans-serif;
    border: 0.08vw solid #d3d3d3;
    color: #d3d3d3;
    display: inline-block;
    border-radius: 0.2vw;
    background: white;
    height: 1.6vw;
    width: 1.6vw;
    margin-right: 0.1vw;
    line-height: 1.75vw;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
    background: #92b825;
    color: #ffffff;
    border: 0.08vw solid #92b825;
    -webkit-animation: tick 0.08s ease-in-out;
    animation: tick 0.08s ease-in-out;
}

@-webkit-keyframes tick {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes tick {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.list {
    padding: 0 1.75vw 1vw;
}

.dropdown {
    display:flex;
    flex-direction: column;

    margin: 0;
    line-height: 1.5vw;
    height: 1.3vw;
    overflow: hidden;
    transition: 0.4s;
}

.dropdown.active {
    height: 100%;
}

.room-container {
    display: flex;
    flex-wrap: wrap;
}

.room-container div {
    text-align: center;
    color: #9C9C9C;
    font-family: "Elektra", sans-serif;
    font-weight: 100;
    font-size: 1.1vw;
    margin-right: 1vw;
    height:1.5vw;
    width:2.5vw;
}
.room-container div:hover {
    background: #EEEDF2;
    color: #6c6c6c;
    border-radius: 0.5vw;
}

.activeRoom {
    background: #EEEDF2;
    color: #6c6c6c;
    border-radius: 0.5vw;
}

.label-container {
    display: flex;
    justify-content: space-between;
}

.triangle {
    color: #6c6c6c;
    border-right: 0.1vw solid;
    border-bottom: 0.1vw solid;
    height: 0.6vw;
    width: 0.6vw;
    margin: 0.3vw 0.7vw 0;
    transform: rotate(-136deg);
}
.triangle.active {
transform: rotate(-315deg);
}